/* Azoom Media Queries */

@media all and (min-width: 1430px)
{
	#mobile-menu-list-icon {
		display: none;
	}
}


/*Disable Search and Cart in iPad*/
@media all and (max-width: 1025px) {
	#nav li.right{display:none;}
	
	/*Hover Effect*/
	.azoom-hover-effect li.hover-mobile-back{display:block;}
	.woo-grid-hover .azoom-hover-effect li.hover-mobile-back{
		position: absolute;
		display:block;
    	bottom: 78px;
    	left: 1px;
	}
	.azoom-hover-effect a i{font-size:19px;}
	
	/*Rockthemes Mega Menu Sticker*/
	.rtm-menu-depth-0 > a .rtm-menu-sticker{
		left:6px;	
	}
	
	.widget_rockthemes_tabs_widget .rock-tabs-container.tab-top .rock-tabs-header-container .rock-tab-header{
		font-size:13px;	
	}
	
}

@media all and (min-width:801px) and (max-width:1025px){
	.azoom-woo-grid-buttons .rockthemes-woo-buttons-container > span a{
		font-size:13px;	
	}
}

@media all and (min-width: 641px) and (max-width: 1025px) {
	/*Azoom Achievement*/
	.rock-achievement .achievement-icon{
		float:none;
		display:block;
		margin:0px auto 15px;	
	}
	.rock-achievement.icon-active .achievement-content{
		font-size:48px;
		margin-left:0px;
		text-align:center;
	}
	
	/*Footer Large Columns*/
	.footer-large > .row > .column, .footer-large > .row > .columns{
		padding-left:15px;
		padding-right:15px;
	}
}


/*Lower than iPad Landscape mode < 1024px */
@media all and (max-width: 1023px) {
	/*General Rules*/
	.centered-text-responsive-1024{
		text-align:center;	
	}
	.right-text-responsive{
		text-align:right;	
	}
	
	.widget_rockthemes_tabs_widget .rock-tabs-container.tab-top .rock-tabs-header-container .rock-tab-header{
		font-size:inherit;
	}
	
	/*Azoom Menu*/
	#rtm-navigation{display:none;}
	.mobile-menu-switcher-holder, .mobile-cart-holder{display:inline-block; font-size:34px;/*24px*/ width:80px; max-width:47%; text-align:center;}
	.mobile-cart-holder{float:right;}
	.mobile-menu-switcher{
		color: #FFFFFF;
		cursor:pointer;
	}
	.mobile-cart, .mobile-menu-switcher{
		display:inline-block;
	}
	.dismiss-mobile{
		display:none;	
	}
		
	/*Azoom Header WPML Select*/
	.header-top-2 .header-wpml-container{border:none;}
	
	.cart-collaterals .cart_totals,
	.cart-collaterals .shipping_calculator,
	.cart-collaterals .cross-sells, .cart-collaterals .up-sells{
		width:100%;
		float:none;
		padding:0px;	
	}
	
	/*Azoom WooCommerce Cart*/
	.cart-collaterals, .col2-set{
		margin:0px;	
	}
	
	/*Tabs*/
	.rock-tabs-container.tab-left .rock-tabs-header-container{padding-right:0.9375em;}
	.rock-tabs-container.tab-left .rock-tabs-content-container{
		padding-left:0.9375em; 
		border:none;
	}
	.rock-tabs-container.tab-shadow.tab-left .rock-tabs-content-container{
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}
	
	.rock-tabs-container.tab-right .rock-tabs-header-container{padding-left:0.9375em;}
	.rock-tabs-container.tab-right .rock-tabs-content-container{
		padding-right:0.9375em; 
		border:none;
	}
	.rock-tabs-container.tab-shadow.tab-right .rock-tabs-content-container{
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
	}

}


@media all and (max-width: 800px) {
	#main-canvas{width:100% !important;}
	
	/*Azoom Portfolio Ajax Category Navigation*/
	.ajax-category-navigation ul{
		text-align:center;	
	}
	.ajax-category-navigation li{
		float:none;
	}
	.ajax-category-navigation li.no-value{
		display:none;	
	}
	
	/*Azoom Achievement*/
	.rock-achievement{
		font-size:64px;
	}
	
	/*Azoom WooCommerce Cart Quantity*/
	.woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, 
	.woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty{
		margin-left:0px;	
	}
	
	/*WooCommerce 2.6*/
	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content{
		float:none;
		width:100%;	
	}
	.woocommerce-MyAccount-navigation{
		margin-bottom:30px;	
	}
	
	/*Half Width Title Breadcrumbs*/
	.azoom-title-breadcrumbs.half-width-title-breadcrumbs .columns > *{
		display:inline-block;
		line-height:110%;
		float:none;
	}
	.azoom-title-breadcrumbs.half-width-title-breadcrumbs .columns:first-child{
		margin-top:30px;	
		margin-bottom:0px;
	}
	.azoom-title-breadcrumbs.half-width-title-breadcrumbs .columns:last-child{
		margin-top:0px;
		margin-bottom:30px;	
	}
	.azoom-title-breadcrumbs.half-width-title-breadcrumbs .columns{
		text-align:center;
	}

}




@media all and (min-width: 500px) and (max-width:800px) {
	.columns.rock-3{
		width:33%;
		display:inline;
	}	
}

@media all and (max-width:800px){

	.team-member-content .details .bio {
		width: 100%;
	}
	
	.logo-container img{margin:0px auto;}
	.right-sidebar-padding{padding-left:0px;}
	.left-sidebar-padding{padding-right:0px;}
	.responsive-inline-block{display:inline-block;}
	
	/*Footer Large*/
	.footer-large .row .columns{margin-bottom:45px;}
	.footer-bottom .row .columns{margin-bottom:15px auto; display:block; position:relative;}
	
	/*Pricing Table*/
	.azoom-pt-package-name h2, .azoom-pt-option{padding-left:20px; padding-right:20px;}
	.azoom-pt > ul{text-align:center;}
	
	/*Header Top 2*/
	.header-top-2-responsive-inline-block > div{display:inline-block;}
	
	/*Clear Navigation float when nav used at left*/
	.nav-right-desktop{float:none;}
	
	/*Testimonials*/
	.team-member-box{
		padding-top:80px;	
	}
	
	/*Steps*/
	.azoom-steps-wrapper{
		margin:0 -0.9375em;
		max-width:none;
	}
	
	.woocommerce-result-count{
		width:100%;	
	}
	
	/*Posts Navigation*/
	.posts-navigation .columns{
		text-align:left;
	}
	.posts-navigation .columns:first-child{
		margin-bottom:30px;	
	}
	.posts-navigation .columns:last-child .next-article-link{
		float:left;
		margin-left:0px;
		margin-right:15px;
	}
	/*RTL*/
	.rtl .posts-navigation .columns:last-child .back-article-link{
		float:right;
		margin-right:0px;
		margin-left:15px;
	}
	
	
	/*BBPress*/
	li.bbp-forum-info, li.bbp-topic-title{
		width:100%;	
	}
	li.bbp-forum-topic-count, li.bbp-forum-reply-count, li.bbp-topic-voice-count, 
	li.bbp-topic-reply-count, li.bbp-forum-freshness, li.bbp-topic-freshness{
		display:none;	
	}
	.bbp-latest-reply-details{
		margin-left:0px;	
	}
}


@media all and (max-width: 800px) {
	.woocommerce .product{
		text-align:center;	
	}
	
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, 
	.woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images{
		float:none !important;
		width:auto !important;
		display:inline-block;
	}
	
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{
		float:none !important;
		width:100% !important;	
	}
	
	table.shop_table td.actions{
		text-align:center;	
	}
	table.shop_table td.actions .coupon {
		width: 50%;
		float: none;
		margin:0px auto;
	}
	table.shop_table td.actions input,
	table.shop_table td.actions .button{
		width:50%;
		margin:0px auto 10px auto;	
		display:block;
	}
	table.shop_table td.actions .coupon input,
	table.shop_table td.actions .coupon .button{
		width:100%;	
	}
	.cart-collaterals .cart_totals,
	.cart-collaterals .shipping_calculator,
	.cart-collaterals .cross-sells, .cart-collaterals .up-sells{
		width:100%;
		float:none;
		padding:0px;	
	}
	#review_form_wrapper .comment-form-author, #review_form_wrapper .comment-form-email{
		width:100%;
	}
	#review_form_wrapper .comment-form-author, #review_form_wrapper .comment-form-email{
		padding:0px;
	}
	.woocommerce .rockthemes-woo-single-image, .woocommerce-page .rockthemes-woo-single-image,
	.woocommerce .product .summary, .woocommerce-page .product .summary{
		width:100%;	
	}
	
	/*End of WooCommerce*/


	.centered-text-responsive{text-align:center;}
	
	/*Tabs*/
	.rock-tabs-container.tab-top .rock-tabs-header-container .rock-tab-header{
		float:none;
		display: block;
		text-align: center;
	}
	
	/*Tiny MCE Text*/
	/*
	.azoom-text-details{
		margin-bottom:30px;
	}
	*/
	
	/*Iconic Text*/
	/*div .rock-iconictext-container{margin-bottom:30px !important;}*/

	.wall-mode-active .azoom-default-item .boxed-layout{margin-bottom:0px;}
	
	/*Sidebars*/
	.right-sidebar-padding{margin-top:60px;}
	.left-sidebar-padding{margin-bottom:60px;}
	
	/*Button*/
	a.button{float:none !important;  display:table;}
	
	/*Azoom Header Social Icons*/
	.wpml-in-ht2{
		max-height:100%;
	}
	
	.wpml-in-ht2 .header-social-container, .wpml-in-ht2 .header-wpml-container{
		float:none;
	}
	
	.azoom-title-breadcrumbs.full-width-title-breadcrumbs .page-title{
		font-size:60px;	
	}

	/*Azoom - Responsivity Of Blog*/
	.article-date-post-format{
		float:none;
		height:64px;
		max-height:64px;
	}
	.article-details{
		margin-left:0px;	
	}
	.article-date-post-format > div:not(.clear){
		float:left;	
		height:100%;
	}
	.date-area-container{height:100%;}
	.date-area .year-area{display:none;}
	.comments-link, .post-view{
		float:none;
		margin-right:0px;
		margin-bottom:15px;	
	}
	.entry-footer-details .more-link{
		float:none;	
	}
	.rockthemes-wp-gallery{
		display:block;/*Firefox Fix 360x640*/
	}
	.rockthemes-wp-gallery > li{
		max-width:100%;/*Firefox Fix 360x640*/	
	}
	.article-date-post-format.azoom-small-box-shadow{
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;	
	}
	.article-details.padding-2x{
		padding:15px;	
	}
	.article-details.padding-2x .entry-header{
		display:block;
		margin:-15px -15px 15px -15px;	
	}
	.article-details.padding-2x .azoom-title-date-container{
		padding:0px 15px;	
	}
	
	.widget_rockthemes_tabs_widget .rock-tabs-container.tab-top .rock-tabs-header-container .rock-tab-header{
		width:100%;	
	}
	
	/*Azoom Heading*/
	.azoom-heading{
		font-size:40px !important;
	}
	.azoom-heading, .azoom-heading span{
		-ms-word-wrap: break-word;	
		word-wrap:break-word;
		max-width:100%;
	}
	.rockthemes-fullscreen .azoom-heading-wrapper{
		padding:0px 15px;	
	}
	.azoom-heading-wrapper.centered-heading .heading-bottom-line{
		max-width:90%;
		left:10px;	
	}
	.azoom-heading-wrapper.centered-heading .heading-bottom-line-end{
		margin-left:-30px;	
	}
		
}






@media all and (max-width:800px){
	/*Azoom Header Social Icons*/
	.header-top-2 .social-icon .rock-social-icon{
		border:1px solid #f0f0f0;
		border-left:none;
	}
	
	/*Azoom Header Contact*/
	.header-contact-info{display:none;}
	.header-top-2{line-height:38px; padding-top:15px;}
	
	/*Hover Effect*/
	.azoom-hover-effect a i{font-size:19px;}
	
	/*Single Image Overflow*/
	.azoom-overflow-image, .azoom-overflow-image.azoom-snap-image{
		z-index:auto;
		position:relative;
	}
	
	/*Woo Shop Order Select*/
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
		width:100%;
		margin:0px;
		margin-bottom:15px;
	}
	
	
	/*Buttons - TO DO : Test this on different devices*/
	.azoom-button-wrapper{
		text-align:center !important;	
	}
	
	/*WooCommerce Cart*/
	table.cart .product-thumbnail{
		left: -999em;
		position: absolute;
	}

	/*Layout*/
	/*
	#main-container > .row > .columns:not(:first-child) > *,
	.rockthemes-unique-grid > .row > .columns:not(:first-child) > *,
	.parallax-mask-class > .row > .columns:not(:first-child) > *,
	.bg-image-overlay > .row > .columns:not(:first-child) > *,
	.rockthemes-video-background-content > .row > .columns:not(:first-child) > *,
	.entry-content > .row > .columns:not(:first-child) > *{
		margin-top:30px;
	}
	*/
	#main-container > .row > .columns:not(:first-child),
	.rockthemes-unique-grid > .row > .columns:not(:first-child),
	.parallax-mask-class > .row > .columns:not(:first-child),
	.bg-image-overlay > .row > .columns:not(:first-child),
	.rockthemes-video-background-content > .row > .columns:not(:first-child),
	.entry-content > .row > .columns:not(:first-child){
		margin-top:30px;
	}
	body .row{
		max-width:540px;	
	}
}


@media all and (max-width:640px){
	/*Typography*/
	.centered-text-responsive-small{text-align:center;}
	
	.rock-achievement.icon-active .achievement-content{
		font-size:40px;
	}
	
	/*Footer Large Columns*/
	.footer-large > .row > .column, .footer-large > .row > .columns{
		padding-left:15px;
		padding-right:15px;
	}
	
	body .row{
		max-width:480px;	
	}
	
	/*Mobile Cart*/
	.mobile-cart-holder, .menu_use_mobile_for_main .mobile-cart-holder,
	.menu_use_mobile_for_main .azoom-ajax-search-menu-item {

	}
	.mobile-menu-switcher-holder{
		width:100%;
		max-width:100%;
	}
	.rtm-woo-cart-enabled .mobile-menu-switcher-holder{
		max-width:47%;
	}
	.header-model-3 .mobile-menu-switcher-holder,
	.header-model-4 .mobile-menu-switcher-holder{
		width:auto;	
	}

	
	.azoom-portfolio-container{
		max-width:100%;	
	}
	
}



@media all and (max-width:540px){
	.button:not(.button_non_responsive){width:100%; margin:15px 0px;}	
	.button-wrap .button:not(.button_non_responsive){margin:0px;}
	.button-wrap{width:100%;}
	
	/*Azoom Portfolio*/
	.azoom-portfolio-container .relative-container-holder{float:none;}
	.azoom-portfolio-container .azoom-portfolio-body .list-description p:first-child{margin-top:10px;}
	.azoom-portfolio-header .azoom-portfolio-mode-switch{float:right;}
	.azoom-portfolio-header .azoom-portfolio-main-title{margin:3px 0 0 0; padding:0px; border:none;}
	.azoom-portfolio-header{float:none; margin:0px 0px 15px 0px; border-bottom:1px solid #cccccc; padding:0px 0px 10px 0px;}
	.azoom-portfolio-container.list .azoom-portfolio-buttons > a{margin-left:0px;}
	.azoom-portfolio-container.masonry-active ul.azoom-portfolio-body{
		/*margin-right:0px;*/
	}
	
	/*Header Models*/
	.header-model-1 .logo-main-wrapper, .header-model-2 .logo-main-wrapper{max-width:67%;/*70%*/}
	
	.azoom-portfolio-container.masonry-active .ajax-category-navigation{
		margin-right:0.625em;	
	}
		
	/*General Element Headers (Responsive)*/
	.azoom-element-responsive-header{float:none; margin:0px 0px 45px 0px; top:0px !important; border-bottom:1px solid #cccccc; padding:0px 0px 10px 0px;}
	.azoom-element-responsive-header .azoom-element-responsive-title{margin:3px 0 0 0; padding:0px; border:none;}
	.azoom-element-responsive-header .azoom-element-responsive-buttons{float:right;}
				
	/*Promotion Box*/
	.rock-promotion-box .promotion-box-content, .rock-promotion-box .promotion-box-button-container{
		float:none; margin:0px; padding:0px; width:100%; position:relative;
	}
	.rock-promotion-box .promotion-box-button-container{
		margin-top:30px;	
	}
	
	
	/*Breadcrumbs Title*/
	.azoom-title-breadcrumbs .page-title{}
	/*.azoom-breadcrumbs{float:none; margin:0px auto 15px; display:inline-block;}*/
	.breadcrumbs-container > p{display:none;}
	
	/*Footer Bottom Widget Area*/
	#footer .footer-bottom > .row > .columns{margin-bottom:10px; margin-top:10px;}
	#footer .footer-bottom-widget ul{margin:0px auto; float:none;}
	#footer .footer-bottom-widget li{float:none; border:none; margin:8px 0px; padding:0px;}
	
	/*404 Page*/
	.error-404-icon{float:none; display:block; margin:0px auto; text-align:center;}
	.error-404-details{padding:0px;}
	
	/*WooCommerce*/
	.woocommerce .product-quantity, .woocommerce-page .product-quantity, 
	.woocommerce .product-subtotal, .woocommerce-page .product-subtotal{
		display:none;	
	}
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator{
		float:none;
		width:100% !important;	
	}
	table.shop_table td.actions .coupon {
		width: 100%;
		float: none;
		margin:0px auto;
	}
	table.shop_table td.actions input,
	table.shop_table td.actions .button{
		width:100%;
		margin:0px auto 10px auto;	
		display:block;
	}
	table.cart .product-thumbnail, table.cart .product-price, 
	table.cart .product-quantity {
		left: -999em;
		position: absolute;
	}		
	.woocommerce #content div.product form.cart div.quantity, .woocommerce div.product form.cart div.quantity, 
	.woocommerce-page #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity{
		float:none;
		margin:15px auto;	
	}
	
	/*Mobile Menu Background*/
	.mobile-menu-background{
		color:#ffffff;
		padding:0px;
	}
	.menu-mobile-details .mobile-menu-switcher, .menu-mobile-details .mobile-cart-holder .mobile-cart{
		background: none;
		color: inherit;
		font-size: 24px;
		padding: 0px;
	}
	.mobile-menu-switcher-holder, .mobile-cart-holder{
		width:auto;
		padding:0px 5px;	
	}
	
	/*Pricing Table*/
	.azoom-pt-header .button, .azoom-pt-header .button:not(.button_non_responsive){
		max-width:100%;
		width:auto;	
	}

}


@media screen and (min-width:1441px){
	.parallax-mask-class, .azoom-bgimage-cover .parallax-mask-class{
		background-size:cover;
	}
}


/*4K Settings*/
@media screen and (min-width:3600px), 
screen and (min-width:1600px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width:1600px) and (min--moz-device-pixel-ratio: 2),
screen and (min-width:1600px) and (-o-min-device-pixel-ratio: 2){
	.parallax-mask-class, .static-bg-mask-class, .azoom-bgimage-cover .parallax-mask-class{
		background-attachment:scroll;
		background-size:cover;
	}
}