@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fx3v66');
	src:url('../fonts/icomoon.eot?#iefixfx3v66') format('embedded-opentype'),
		url('../fonts/icomoon.woff?fx3v66') format('woff'),
		url('../fonts/icomoon.ttf?fx3v66') format('truetype'),
		url('../fonts/icomoon.svg?fx3v66#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icomoon{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-icon-home:before {
	content: "\e600";
}
.icomoon-icon-home2:before {
	content: "\e601";
}

.icomoon-icon-home3:before {
	content: "\e602";
}

.icomoon-icon-office:before {
	content: "\e603";
}

.icomoon-icon-newspaper:before {
	content: "\e604";
}

.icomoon-icon-pencil:before {
	content: "\e605";
}

.icomoon-icon-pencil2:before {
	content: "\e606";
}

.icomoon-icon-quill:before {
	content: "\e607";
}

.icomoon-icon-pen:before {
	content: "\e608";
}

.icomoon-icon-blog:before {
	content: "\e609";
}

.icomoon-icon-droplet:before {
	content: "\e60a";
}

.icomoon-icon-paint-format:before {
	content: "\e60b";
}

.icomoon-icon-image:before {
	content: "\e60c";
}

.icomoon-icon-image2:before {
	content: "\e60d";
}

.icomoon-icon-images:before {
	content: "\e60e";
}

.icomoon-icon-camera:before {
	content: "\e60f";
}

.icomoon-icon-music:before {
	content: "\e610";
}

.icomoon-icon-headphones:before {
	content: "\e611";
}

.icomoon-icon-play:before {
	content: "\e612";
}

.icomoon-icon-film:before {
	content: "\e613";
}

.icomoon-icon-camera2:before {
	content: "\e614";
}

.icomoon-icon-dice:before {
	content: "\e615";
}

.icomoon-icon-pacman:before {
	content: "\e616";
}

.icomoon-icon-spades:before {
	content: "\e617";
}

.icomoon-icon-clubs:before {
	content: "\e618";
}

.icomoon-icon-diamonds:before {
	content: "\e619";
}

.icomoon-icon-pawn:before {
	content: "\e61a";
}

.icomoon-icon-bullhorn:before {
	content: "\e61b";
}

.icomoon-icon-connection:before {
	content: "\e61c";
}

.icomoon-icon-podcast:before {
	content: "\e61d";
}

.icomoon-icon-feed:before {
	content: "\e61e";
}

.icomoon-icon-book:before {
	content: "\e61f";
}

.icomoon-icon-books:before {
	content: "\e620";
}

.icomoon-icon-library:before {
	content: "\e621";
}

.icomoon-icon-file:before {
	content: "\e622";
}

.icomoon-icon-profile:before {
	content: "\e623";
}

.icomoon-icon-file2:before {
	content: "\e624";
}

.icomoon-icon-file3:before {
	content: "\e625";
}

.icomoon-icon-file4:before {
	content: "\e626";
}

.icomoon-icon-copy:before {
	content: "\e627";
}

.icomoon-icon-copy2:before {
	content: "\e628";
}

.icomoon-icon-copy3:before {
	content: "\e629";
}

.icomoon-icon-paste:before {
	content: "\e62a";
}

.icomoon-icon-paste2:before {
	content: "\e62b";
}

.icomoon-icon-paste3:before {
	content: "\e62c";
}

.icomoon-icon-stack:before {
	content: "\e62d";
}

.icomoon-icon-folder:before {
	content: "\e62e";
}

.icomoon-icon-folder-open:before {
	content: "\e62f";
}

.icomoon-icon-tag:before {
	content: "\e630";
}

.icomoon-icon-tags:before {
	content: "\e631";
}

.icomoon-icon-barcode:before {
	content: "\e632";
}

.icomoon-icon-qrcode:before {
	content: "\e633";
}

.icomoon-icon-ticket:before {
	content: "\e634";
}

.icomoon-icon-cart:before {
	content: "\e635";
}

.icomoon-icon-cart2:before {
	content: "\e636";
}

.icomoon-icon-cart3:before {
	content: "\e637";
}

.icomoon-icon-coin:before {
	content: "\e638";
}

.icomoon-icon-credit:before {
	content: "\e639";
}

.icomoon-icon-calculate:before {
	content: "\e63a";
}

.icomoon-icon-support:before {
	content: "\e63b";
}

.icomoon-icon-phone:before {
	content: "\e63c";
}

.icomoon-icon-phone-hang-up:before {
	content: "\e63d";
}

.icomoon-icon-address-book:before {
	content: "\e63e";
}

.icomoon-icon-notebook:before {
	content: "\e63f";
}

.icomoon-icon-envelope:before {
	content: "\e640";
}

.icomoon-icon-pushpin:before {
	content: "\e641";
}

.icomoon-icon-location:before {
	content: "\e642";
}

.icomoon-icon-location2:before {
	content: "\e643";
}

.icomoon-icon-compass:before {
	content: "\e644";
}

.icomoon-icon-map:before {
	content: "\e645";
}

.icomoon-icon-map2:before {
	content: "\e646";
}

.icomoon-icon-history:before {
	content: "\e647";
}

.icomoon-icon-clock:before {
	content: "\e648";
}

.icomoon-icon-clock2:before {
	content: "\e649";
}

.icomoon-icon-alarm:before {
	content: "\e64a";
}

.icomoon-icon-alarm2:before {
	content: "\e64b";
}

.icomoon-icon-bell:before {
	content: "\e64c";
}

.icomoon-icon-stopwatch:before {
	content: "\e64d";
}

.icomoon-icon-calendar:before {
	content: "\e64e";
}

.icomoon-icon-calendar2:before {
	content: "\e64f";
}

.icomoon-icon-print:before {
	content: "\e650";
}

.icomoon-icon-keyboard:before {
	content: "\e651";
}

.icomoon-icon-screen:before {
	content: "\e652";
}

.icomoon-icon-laptop:before {
	content: "\e653";
}

.icomoon-icon-mobile:before {
	content: "\e654";
}

.icomoon-icon-mobile2:before {
	content: "\e655";
}

.icomoon-icon-tablet:before {
	content: "\e656";
}

.icomoon-icon-tv:before {
	content: "\e657";
}

.icomoon-icon-cabinet:before {
	content: "\e658";
}

.icomoon-icon-drawer:before {
	content: "\e659";
}

.icomoon-icon-drawer2:before {
	content: "\e65a";
}

.icomoon-icon-drawer3:before {
	content: "\e65b";
}

.icomoon-icon-box-add:before {
	content: "\e65c";
}

.icomoon-icon-box-remove:before {
	content: "\e65d";
}

.icomoon-icon-download:before {
	content: "\e65e";
}

.icomoon-icon-upload:before {
	content: "\e65f";
}

.icomoon-icon-disk:before {
	content: "\e660";
}

.icomoon-icon-storage:before {
	content: "\e661";
}

.icomoon-icon-undo:before {
	content: "\e662";
}

.icomoon-icon-redo:before {
	content: "\e663";
}

.icomoon-icon-flip:before {
	content: "\e664";
}

.icomoon-icon-flip2:before {
	content: "\e665";
}

.icomoon-icon-undo2:before {
	content: "\e666";
}

.icomoon-icon-redo2:before {
	content: "\e667";
}

.icomoon-icon-forward:before {
	content: "\e668";
}

.icomoon-icon-reply:before {
	content: "\e669";
}

.icomoon-icon-bubble:before {
	content: "\e66a";
}

.icomoon-icon-bubbles:before {
	content: "\e66b";
}

.icomoon-icon-bubbles2:before {
	content: "\e66c";
}

.icomoon-icon-bubble2:before {
	content: "\e66d";
}

.icomoon-icon-bubbles3:before {
	content: "\e66e";
}

.icomoon-icon-bubbles4:before {
	content: "\e66f";
}

.icomoon-icon-user:before {
	content: "\e670";
}

.icomoon-icon-users:before {
	content: "\e671";
}

.icomoon-icon-user2:before {
	content: "\e672";
}

.icomoon-icon-users2:before {
	content: "\e673";
}

.icomoon-icon-user3:before {
	content: "\e674";
}

.icomoon-icon-user4:before {
	content: "\e675";
}

.icomoon-icon-quotes-left:before {
	content: "\e676";
}

.icomoon-icon-busy:before {
	content: "\e677";
}

.icomoon-icon-spinner:before {
	content: "\e678";
}

.icomoon-icon-spinner2:before {
	content: "\e679";
}

.icomoon-icon-spinner3:before {
	content: "\e67a";
}

.icomoon-icon-spinner4:before {
	content: "\e67b";
}

.icomoon-icon-spinner5:before {
	content: "\e67c";
}

.icomoon-icon-spinner6:before {
	content: "\e67d";
}

.icomoon-icon-binoculars:before {
	content: "\e67e";
}

.icomoon-icon-search:before {
	content: "\e67f";
}

.icomoon-icon-zoomin:before {
	content: "\e680";
}

.icomoon-icon-zoomout:before {
	content: "\e681";
}

.icomoon-icon-expand:before {
	content: "\e682";
}

.icomoon-icon-contract:before {
	content: "\e683";
}

.icomoon-icon-expand2:before {
	content: "\e684";
}

.icomoon-icon-contract2:before {
	content: "\e685";
}

.icomoon-icon-key:before {
	content: "\e686";
}

.icomoon-icon-key2:before {
	content: "\e687";
}

.icomoon-icon-lock:before {
	content: "\e688";
}

.icomoon-icon-lock2:before {
	content: "\e689";
}

.icomoon-icon-unlocked:before {
	content: "\e68a";
}

.icomoon-icon-wrench:before {
	content: "\e68b";
}

.icomoon-icon-settings:before {
	content: "\e68c";
}

.icomoon-icon-equalizer:before {
	content: "\e68d";
}

.icomoon-icon-cog:before {
	content: "\e68e";
}

.icomoon-icon-cogs:before {
	content: "\e68f";
}

.icomoon-icon-cog2:before {
	content: "\e690";
}

.icomoon-icon-hammer:before {
	content: "\e691";
}

.icomoon-icon-wand:before {
	content: "\e692";
}

.icomoon-icon-aid:before {
	content: "\e693";
}

.icomoon-icon-bug:before {
	content: "\e694";
}

.icomoon-icon-pie:before {
	content: "\e695";
}

.icomoon-icon-stats:before {
	content: "\e696";
}

.icomoon-icon-bars:before {
	content: "\e697";
}

.icomoon-icon-bars2:before {
	content: "\e698";
}

.icomoon-icon-gift:before {
	content: "\e699";
}

.icomoon-icon-trophy:before {
	content: "\e69a";
}

.icomoon-icon-glass:before {
	content: "\e69b";
}

.icomoon-icon-mug:before {
	content: "\e69c";
}

.icomoon-icon-food:before {
	content: "\e69d";
}

.icomoon-icon-leaf:before {
	content: "\e69e";
}

.icomoon-icon-rocket:before {
	content: "\e69f";
}

.icomoon-icon-meter:before {
	content: "\e6a0";
}

.icomoon-icon-meter2:before {
	content: "\e6a1";
}

.icomoon-icon-dashboard:before {
	content: "\e6a2";
}

.icomoon-icon-hammer2:before {
	content: "\e6a3";
}

.icomoon-icon-fire:before {
	content: "\e6a4";
}

.icomoon-icon-lab:before {
	content: "\e6a5";
}

.icomoon-icon-magnet:before {
	content: "\e6a6";
}

.icomoon-icon-remove:before {
	content: "\e6a7";
}

.icomoon-icon-remove2:before {
	content: "\e6a8";
}

.icomoon-icon-briefcase:before {
	content: "\e6a9";
}

.icomoon-icon-airplane:before {
	content: "\e6aa";
}

.icomoon-icon-truck:before {
	content: "\e6ab";
}

.icomoon-icon-road:before {
	content: "\e6ac";
}

.icomoon-icon-accessibility:before {
	content: "\e6ad";
}

.icomoon-icon-target:before {
	content: "\e6ae";
}

.icomoon-icon-shield:before {
	content: "\e6af";
}

.icomoon-icon-lightning:before {
	content: "\e6b0";
}

.icomoon-icon-switch:before {
	content: "\e6b1";
}

.icomoon-icon-powercord:before {
	content: "\e6b2";
}

.icomoon-icon-signup:before {
	content: "\e6b3";
}

.icomoon-icon-list:before {
	content: "\e6b4";
}

.icomoon-icon-list2:before {
	content: "\e6b5";
}

.icomoon-icon-numbered-list:before {
	content: "\e6b6";
}

.icomoon-icon-menu:before {
	content: "\e6b7";
}

.icomoon-icon-menu2:before {
	content: "\e6b8";
}

.icomoon-icon-tree:before {
	content: "\e6b9";
}

.icomoon-icon-cloud:before {
	content: "\e6ba";
}

.icomoon-icon-cloud-download:before {
	content: "\e6bb";
}

.icomoon-icon-cloud-upload:before {
	content: "\e6bc";
}

.icomoon-icon-download2:before {
	content: "\e6bd";
}

.icomoon-icon-upload2:before {
	content: "\e6be";
}

.icomoon-icon-download3:before {
	content: "\e6bf";
}

.icomoon-icon-upload3:before {
	content: "\e6c0";
}

.icomoon-icon-globe:before {
	content: "\e6c1";
}

.icomoon-icon-earth:before {
	content: "\e6c2";
}

.icomoon-icon-link:before {
	content: "\e6c3";
}

.icomoon-icon-flag:before {
	content: "\e6c4";
}

.icomoon-icon-attachment:before {
	content: "\e6c5";
}

.icomoon-icon-eye:before {
	content: "\e6c6";
}

.icomoon-icon-eye-blocked:before {
	content: "\e6c7";
}

.icomoon-icon-eye2:before {
	content: "\e6c8";
}

.icomoon-icon-bookmark:before {
	content: "\e6c9";
}

.icomoon-icon-bookmarks:before {
	content: "\e6ca";
}

.icomoon-icon-brightness-medium:before {
	content: "\e6cb";
}

.icomoon-icon-brightness-contrast:before {
	content: "\e6cc";
}

.icomoon-icon-contrast:before {
	content: "\e6cd";
}

.icomoon-icon-star:before {
	content: "\e6ce";
}

.icomoon-icon-star2:before {
	content: "\e6cf";
}

.icomoon-icon-star3:before {
	content: "\e6d0";
}

.icomoon-icon-heart:before {
	content: "\e6d1";
}

.icomoon-icon-heart2:before {
	content: "\e6d2";
}

.icomoon-icon-heart-broken:before {
	content: "\e6d3";
}

.icomoon-icon-thumbs-up:before {
	content: "\e6d4";
}

.icomoon-icon-thumbs-up2:before {
	content: "\e6d5";
}

.icomoon-icon-happy:before {
	content: "\e6d6";
}

.icomoon-icon-happy2:before {
	content: "\e6d7";
}

.icomoon-icon-smiley:before {
	content: "\e6d8";
}

.icomoon-icon-smiley2:before {
	content: "\e6d9";
}

.icomoon-icon-tongue:before {
	content: "\e6da";
}

.icomoon-icon-tongue2:before {
	content: "\e6db";
}

.icomoon-icon-sad:before {
	content: "\e6dc";
}

.icomoon-icon-sad2:before {
	content: "\e6dd";
}

.icomoon-icon-wink:before {
	content: "\e6de";
}

.icomoon-icon-wink2:before {
	content: "\e6df";
}

.icomoon-icon-grin:before {
	content: "\e6e0";
}

.icomoon-icon-grin2:before {
	content: "\e6e1";
}

.icomoon-icon-cool:before {
	content: "\e6e2";
}

.icomoon-icon-cool2:before {
	content: "\e6e3";
}

.icomoon-icon-angry:before {
	content: "\e6e4";
}

.icomoon-icon-angry2:before {
	content: "\e6e5";
}

.icomoon-icon-evil:before {
	content: "\e6e6";
}

.icomoon-icon-evil2:before {
	content: "\e6e7";
}

.icomoon-icon-shocked:before {
	content: "\e6e8";
}

.icomoon-icon-shocked2:before {
	content: "\e6e9";
}

.icomoon-icon-confused:before {
	content: "\e6ea";
}

.icomoon-icon-confused2:before {
	content: "\e6eb";
}

.icomoon-icon-neutral:before {
	content: "\e6ec";
}

.icomoon-icon-neutral2:before {
	content: "\e6ed";
}

.icomoon-icon-wondering:before {
	content: "\e6ee";
}

.icomoon-icon-wondering2:before {
	content: "\e6ef";
}

.icomoon-icon-point-up:before {
	content: "\e6f0";
}

.icomoon-icon-point-right:before {
	content: "\e6f1";
}

.icomoon-icon-point-down:before {
	content: "\e6f2";
}

.icomoon-icon-point-left:before {
	content: "\e6f3";
}

.icomoon-icon-warning:before {
	content: "\e6f4";
}

.icomoon-icon-notification:before {
	content: "\e6f5";
}

.icomoon-icon-question:before {
	content: "\e6f6";
}

.icomoon-icon-info:before {
	content: "\e6f7";
}

.icomoon-icon-info2:before {
	content: "\e6f8";
}

.icomoon-icon-blocked:before {
	content: "\e6f9";
}

.icomoon-icon-cancel-circle:before {
	content: "\e6fa";
}

.icomoon-icon-checkmark-circle:before {
	content: "\e6fb";
}

.icomoon-icon-spam:before {
	content: "\e6fc";
}

.icomoon-icon-close:before {
	content: "\e6fd";
}

.icomoon-icon-checkmark:before {
	content: "\e6fe";
}

.icomoon-icon-checkmark2:before {
	content: "\e6ff";
}

.icomoon-icon-spell-check:before {
	content: "\e700";
}

.icomoon-icon-minus:before {
	content: "\e701";
}

.icomoon-icon-plus:before {
	content: "\e702";
}

.icomoon-icon-enter:before {
	content: "\e703";
}

.icomoon-icon-exit:before {
	content: "\e704";
}

.icomoon-icon-play2:before {
	content: "\e705";
}

.icomoon-icon-pause:before {
	content: "\e706";
}

.icomoon-icon-stop:before {
	content: "\e707";
}

.icomoon-icon-backward:before {
	content: "\e708";
}

.icomoon-icon-forward2:before {
	content: "\e709";
}

.icomoon-icon-play3:before {
	content: "\e70a";
}

.icomoon-icon-pause2:before {
	content: "\e70b";
}

.icomoon-icon-stop2:before {
	content: "\e70c";
}

.icomoon-icon-backward2:before {
	content: "\e70d";
}

.icomoon-icon-forward3:before {
	content: "\e70e";
}

.icomoon-icon-first:before {
	content: "\e70f";
}

.icomoon-icon-last:before {
	content: "\e710";
}

.icomoon-icon-previous:before {
	content: "\e711";
}

.icomoon-icon-next:before {
	content: "\e712";
}

.icomoon-icon-eject:before {
	content: "\e713";
}

.icomoon-icon-volume-high:before {
	content: "\e714";
}

.icomoon-icon-volume-medium:before {
	content: "\e715";
}

.icomoon-icon-volume-low:before {
	content: "\e716";
}

.icomoon-icon-volume-mute:before {
	content: "\e717";
}

.icomoon-icon-volume-mute2:before {
	content: "\e718";
}

.icomoon-icon-volume-increase:before {
	content: "\e719";
}

.icomoon-icon-volume-decrease:before {
	content: "\e71a";
}

.icomoon-icon-loop:before {
	content: "\e71b";
}

.icomoon-icon-loop2:before {
	content: "\e71c";
}

.icomoon-icon-loop3:before {
	content: "\e71d";
}

.icomoon-icon-shuffle:before {
	content: "\e71e";
}

.icomoon-icon-arrow-up-left:before {
	content: "\e71f";
}

.icomoon-icon-arrow-up:before {
	content: "\e720";
}

.icomoon-icon-arrow-up-right:before {
	content: "\e721";
}

.icomoon-icon-arrow-right:before {
	content: "\e722";
}

.icomoon-icon-arrow-down-right:before {
	content: "\e723";
}

.icomoon-icon-arrow-down:before {
	content: "\e724";
}

.icomoon-icon-arrow-down-left:before {
	content: "\e725";
}

.icomoon-icon-arrow-left:before {
	content: "\e726";
}

.icomoon-icon-arrow-up-left2:before {
	content: "\e727";
}

.icomoon-icon-arrow-up2:before {
	content: "\e728";
}

.icomoon-icon-arrow-up-right2:before {
	content: "\e729";
}

.icomoon-icon-arrow-right2:before {
	content: "\e72a";
}

.icomoon-icon-arrow-down-right2:before {
	content: "\e72b";
}

.icomoon-icon-arrow-down2:before {
	content: "\e72c";
}

.icomoon-icon-arrow-down-left2:before {
	content: "\e72d";
}

.icomoon-icon-arrow-left2:before {
	content: "\e72e";
}

.icomoon-icon-arrow-up-left3:before {
	content: "\e72f";
}

.icomoon-icon-arrow-up3:before {
	content: "\e730";
}

.icomoon-icon-arrow-up-right3:before {
	content: "\e731";
}

.icomoon-icon-arrow-right3:before {
	content: "\e732";
}

.icomoon-icon-arrow-down-right3:before {
	content: "\e733";
}

.icomoon-icon-arrow-down3:before {
	content: "\e734";
}

.icomoon-icon-arrow-down-left3:before {
	content: "\e735";
}

.icomoon-icon-arrow-left3:before {
	content: "\e736";
}

.icomoon-icon-tab:before {
	content: "\e737";
}

.icomoon-icon-checkbox-checked:before {
	content: "\e738";
}

.icomoon-icon-checkbox-unchecked:before {
	content: "\e739";
}

.icomoon-icon-checkbox-partial:before {
	content: "\e73a";
}

.icomoon-icon-radio-checked:before {
	content: "\e73b";
}

.icomoon-icon-radio-unchecked:before {
	content: "\e73c";
}

.icomoon-icon-crop:before {
	content: "\e73d";
}

.icomoon-icon-scissors:before {
	content: "\e73e";
}

.icomoon-icon-filter:before {
	content: "\e73f";
}

.icomoon-icon-filter2:before {
	content: "\e740";
}

.icomoon-icon-font:before {
	content: "\e741";
}

.icomoon-icon-text-height:before {
	content: "\e742";
}

.icomoon-icon-text-width:before {
	content: "\e743";
}

.icomoon-icon-bold:before {
	content: "\e744";
}

.icomoon-icon-underline:before {
	content: "\e745";
}

.icomoon-icon-italic:before {
	content: "\e746";
}

.icomoon-icon-strikethrough:before {
	content: "\e747";
}

.icomoon-icon-omega:before {
	content: "\e748";
}

.icomoon-icon-sigma:before {
	content: "\e749";
}

.icomoon-icon-table:before {
	content: "\e74a";
}

.icomoon-icon-table2:before {
	content: "\e74b";
}

.icomoon-icon-insert-template:before {
	content: "\e74c";
}

.icomoon-icon-pilcrow:before {
	content: "\e74d";
}

.icomoon-icon-lefttoright:before {
	content: "\e74e";
}

.icomoon-icon-righttoleft:before {
	content: "\e74f";
}

.icomoon-icon-paragraph-left:before {
	content: "\e750";
}

.icomoon-icon-paragraph-center:before {
	content: "\e751";
}

.icomoon-icon-paragraph-right:before {
	content: "\e752";
}

.icomoon-icon-paragraph-justify:before {
	content: "\e753";
}

.icomoon-icon-paragraph-left2:before {
	content: "\e754";
}

.icomoon-icon-paragraph-center2:before {
	content: "\e755";
}

.icomoon-icon-paragraph-right2:before {
	content: "\e756";
}

.icomoon-icon-paragraph-justify2:before {
	content: "\e757";
}

.icomoon-icon-indent-increase:before {
	content: "\e758";
}

.icomoon-icon-indent-decrease:before {
	content: "\e759";
}

.icomoon-icon-newtab:before {
	content: "\e75a";
}

.icomoon-icon-embed:before {
	content: "\e75b";
}

.icomoon-icon-code:before {
	content: "\e75c";
}

.icomoon-icon-console:before {
	content: "\e75d";
}

.icomoon-icon-share:before {
	content: "\e75e";
}

.icomoon-icon-mail:before {
	content: "\e75f";
}

.icomoon-icon-mail2:before {
	content: "\e760";
}

.icomoon-icon-mail3:before {
	content: "\e761";
}

.icomoon-icon-mail4:before {
	content: "\e762";
}

.icomoon-icon-google:before {
	content: "\e763";
}

.icomoon-icon-googleplus:before {
	content: "\e764";
}

.icomoon-icon-googleplus2:before {
	content: "\e765";
}

.icomoon-icon-googleplus3:before {
	content: "\e766";
}

.icomoon-icon-googleplus4:before {
	content: "\e767";
}

.icomoon-icon-google-drive:before {
	content: "\e768";
}

.icomoon-icon-facebook:before {
	content: "\e769";
}

.icomoon-icon-facebook2:before {
	content: "\e76a";
}

.icomoon-icon-facebook3:before {
	content: "\e76b";
}

.icomoon-icon-instagram:before {
	content: "\e76c";
}

.icomoon-icon-twitter:before {
	content: "\e76d";
}

.icomoon-icon-twitter2:before {
	content: "\e76e";
}

.icomoon-icon-twitter3:before {
	content: "\e76f";
}

.icomoon-icon-feed2:before {
	content: "\e770";
}

.icomoon-icon-feed3:before {
	content: "\e771";
}

.icomoon-icon-feed4:before {
	content: "\e772";
}

.icomoon-icon-youtube:before {
	content: "\e773";
}

.icomoon-icon-youtube2:before {
	content: "\e774";
}

.icomoon-icon-vimeo:before {
	content: "\e775";
}

.icomoon-icon-vimeo2:before {
	content: "\e776";
}

.icomoon-icon-vimeo3:before {
	content: "\e777";
}

.icomoon-icon-lanyrd:before {
	content: "\e778";
}

.icomoon-icon-flickr:before {
	content: "\e779";
}

.icomoon-icon-flickr2:before {
	content: "\e77a";
}

.icomoon-icon-flickr3:before {
	content: "\e77b";
}

.icomoon-icon-flickr4:before {
	content: "\e77c";
}

.icomoon-icon-picassa:before {
	content: "\e77d";
}

.icomoon-icon-picassa2:before {
	content: "\e77e";
}

.icomoon-icon-dribbble:before {
	content: "\e77f";
}

.icomoon-icon-dribbble2:before {
	content: "\e780";
}

.icomoon-icon-dribbble3:before {
	content: "\e781";
}

.icomoon-icon-forrst:before {
	content: "\e782";
}

.icomoon-icon-forrst2:before {
	content: "\e783";
}

.icomoon-icon-deviantart:before {
	content: "\e784";
}

.icomoon-icon-deviantart2:before {
	content: "\e785";
}

.icomoon-icon-steam:before {
	content: "\e786";
}

.icomoon-icon-steam2:before {
	content: "\e787";
}

.icomoon-icon-github:before {
	content: "\e788";
}

.icomoon-icon-github2:before {
	content: "\e789";
}

.icomoon-icon-github3:before {
	content: "\e78a";
}

.icomoon-icon-github4:before {
	content: "\e78b";
}

.icomoon-icon-github5:before {
	content: "\e78c";
}

.icomoon-icon-wordpress:before {
	content: "\e78d";
}

.icomoon-icon-wordpress2:before {
	content: "\e78e";
}

.icomoon-icon-joomla:before {
	content: "\e78f";
}

.icomoon-icon-blogger:before {
	content: "\e790";
}

.icomoon-icon-blogger2:before {
	content: "\e791";
}

.icomoon-icon-tumblr:before {
	content: "\e792";
}

.icomoon-icon-tumblr2:before {
	content: "\e793";
}

.icomoon-icon-yahoo:before {
	content: "\e794";
}

.icomoon-icon-tux:before {
	content: "\e795";
}

.icomoon-icon-apple:before {
	content: "\e796";
}

.icomoon-icon-finder:before {
	content: "\e797";
}

.icomoon-icon-android:before {
	content: "\e798";
}

.icomoon-icon-windows:before {
	content: "\e799";
}

.icomoon-icon-windows8:before {
	content: "\e79a";
}

.icomoon-icon-soundcloud:before {
	content: "\e79b";
}

.icomoon-icon-soundcloud2:before {
	content: "\e79c";
}

.icomoon-icon-skype:before {
	content: "\e79d";
}

.icomoon-icon-reddit:before {
	content: "\e79e";
}

.icomoon-icon-linkedin:before {
	content: "\e79f";
}

.icomoon-icon-lastfm:before {
	content: "\e7a0";
}

.icomoon-icon-lastfm2:before {
	content: "\e7a1";
}

.icomoon-icon-delicious:before {
	content: "\e7a2";
}

.icomoon-icon-stumbleupon:before {
	content: "\e7a3";
}

.icomoon-icon-stumbleupon2:before {
	content: "\e7a4";
}

.icomoon-icon-stackoverflow:before {
	content: "\e7a5";
}

.icomoon-icon-pinterest:before {
	content: "\e7a6";
}

.icomoon-icon-pinterest2:before {
	content: "\e7a7";
}

.icomoon-icon-xing:before {
	content: "\e7a8";
}

.icomoon-icon-xing2:before {
	content: "\e7a9";
}

.icomoon-icon-flattr:before {
	content: "\e7aa";
}

.icomoon-icon-foursquare:before {
	content: "\e7ab";
}

.icomoon-icon-foursquare2:before {
	content: "\e7ac";
}

.icomoon-icon-paypal:before {
	content: "\e7ad";
}

.icomoon-icon-paypal2:before {
	content: "\e7ae";
}

.icomoon-icon-paypal3:before {
	content: "\e7af";
}

.icomoon-icon-yelp:before {
	content: "\e7b0";
}

.icomoon-icon-libreoffice:before {
	content: "\e7b1";
}

.icomoon-icon-file-pdf:before {
	content: "\e7b2";
}

.icomoon-icon-file-openoffice:before {
	content: "\e7b3";
}

.icomoon-icon-file-word:before {
	content: "\e7b4";
}

.icomoon-icon-file-excel:before {
	content: "\e7b5";
}

.icomoon-icon-file-zip:before {
	content: "\e7b6";
}

.icomoon-icon-file-powerpoint:before {
	content: "\e7b7";
}

.icomoon-icon-file-xml:before {
	content: "\e7b8";
}

.icomoon-icon-file-css:before {
	content: "\e7b9";
}

.icomoon-icon-html5:before {
	content: "\e7ba";
}

.icomoon-icon-html52:before {
	content: "\e7bb";
}

.icomoon-icon-css3:before {
	content: "\e7bc";
}

.icomoon-icon-chrome:before {
	content: "\e7bd";
}

.icomoon-icon-firefox:before {
	content: "\e7be";
}

.icomoon-icon-IE:before {
	content: "\e7bf";
}

.icomoon-icon-opera:before {
	content: "\e7c0";
}

.icomoon-icon-safari:before {
	content: "\e7c1";
}

.icomoon-icon-IcoMoon:before {
	content: "\e7c2";
}

.icomoon-icon-azoom-arrow-down:before {
	content: "\e800";
}

.icomoon-icon-list3:before {
	content: "\e7c3";
}

.icomoon-icon-arrow-left4:before {
	content: "\e7c4";
}

.icomoon-icon-arrow-down4:before {
	content: "\e7c5";
}

.icomoon-icon-arrow-up4:before {
	content: "\e7c6";
}

.icomoon-icon-arrow-right4:before {
	content: "\e7c7";
}

.icomoon-icon-arrow-left5:before {
	content: "\e7c8";
}

.icomoon-icon-arrow-down5:before {
	content: "\e7c9";
}

.icomoon-icon-arrow-up5:before {
	content: "\e7ca";
}

.icomoon-icon-arrow-right5:before {
	content: "\e7cb";
}

.icomoon-icon-arrow-left6:before {
	content: "\e7cc";
}

.icomoon-icon-arrow-down6:before {
	content: "\e7cd";
}

.icomoon-icon-arrow-up6:before {
	content: "\e7ce";
}

.icomoon-icon-uniE7CF:before {
	content: "\e7cf";
}

.icomoon-icon-heart3:before {
	content: "\e7d0";
}

.icomoon-icon-cloud2:before {
	content: "\e7d1";
}

.icomoon-icon-star4:before {
	content: "\e7d2";
}

.icomoon-icon-tv2:before {
	content: "\e7d3";
}

.icomoon-icon-sound:before {
	content: "\e7d4";
}

.icomoon-icon-video:before {
	content: "\e7d5";
}

.icomoon-icon-trash:before {
	content: "\e7d6";
}

.icomoon-icon-user5:before {
	content: "\e7d7";
}

.icomoon-icon-key3:before {
	content: "\e7d8";
}

.icomoon-icon-search2:before {
	content: "\e7d9";
}

.icomoon-icon-settings2:before {
	content: "\e7da";
}

.icomoon-icon-camera3:before {
	content: "\e7db";
}

.icomoon-icon-tag2:before {
	content: "\e7dc";
}

.icomoon-icon-lock3:before {
	content: "\e7dd";
}

.icomoon-icon-bulb:before {
	content: "\e7de";
}

.icomoon-icon-pen2:before {
	content: "\e7df";
}

.icomoon-icon-diamond:before {
	content: "\e7e0";
}

.icomoon-icon-display:before {
	content: "\e7e1";
}

.icomoon-icon-location3:before {
	content: "\e7e2";
}

.icomoon-icon-eye3:before {
	content: "\e7e3";
}

.icomoon-icon-bubble3:before {
	content: "\e7e4";
}

.icomoon-icon-stack2:before {
	content: "\e7e5";
}

.icomoon-icon-cup:before {
	content: "\e7e6";
}

.icomoon-icon-phone2:before {
	content: "\e7e7";
}

.icomoon-icon-news:before {
	content: "\e7e8";
}

.icomoon-icon-mail5:before {
	content: "\e7e9";
}

.icomoon-icon-like:before {
	content: "\e7ea";
}

.icomoon-icon-photo:before {
	content: "\e7eb";
}

.icomoon-icon-note:before {
	content: "\e7ec";
}

.icomoon-icon-clock3:before {
	content: "\e7ed";
}

.icomoon-icon-paperplane:before {
	content: "\e7ee";
}

.icomoon-icon-params:before {
	content: "\e7ef";
}

.icomoon-icon-banknote:before {
	content: "\e7f0";
}

.icomoon-icon-data:before {
	content: "\e7f1";
}

.icomoon-icon-music2:before {
	content: "\e7f2";
}

.icomoon-icon-megaphone:before {
	content: "\e7f3";
}

.icomoon-icon-study:before {
	content: "\e7f4";
}

.icomoon-icon-lab2:before {
	content: "\e7f5";
}

.icomoon-icon-food2:before {
	content: "\e7f6";
}

.icomoon-icon-t-shirt:before {
	content: "\e7f7";
}

.icomoon-icon-fire2:before {
	content: "\e7f8";
}

.icomoon-icon-clip:before {
	content: "\e7f9";
}

.icomoon-icon-shop:before {
	content: "\e7fa";
}

.icomoon-icon-calendar3:before {
	content: "\e7fb";
}

.icomoon-icon-wallet:before {
	content: "\e7fc";
}

.icomoon-icon-vynil:before {
	content: "\e7fd";
}

.icomoon-icon-truck2:before {
	content: "\e7fe";
}

.icomoon-icon-world:before {
	content: "\e7ff";
}

.icomoon-icon-30:before {
	content: "\e02d";
}

.icomoon-icon-45:before {
	content: "\e02e";
}

.icomoon-icon-601:before {
	content: "\e02f";
}

.icomoon-icon-a1:before {
	content: "\e030";
}

.icomoon-icon-abacus:before {
	content: "\e033";
}

.icomoon-icon-academic:before {
	content: "\e034";
}

.icomoon-icon-adn1:before {
	content: "\e035";
}

.icomoon-icon-alphabet1:before {
	content: "\e037";
}

.icomoon-icon-amount:before {
	content: "\e039";
}

.icomoon-icon-avi1:before {
	content: "\e03d";
}

.icomoon-icon-bag:before {
	content: "\e041";
}

.icomoon-icon-big52:before {
	content: "\e042";
}

.icomoon-icon-big55:before {
	content: "\e043";
}

.icomoon-icon-big56:before {
	content: "\e044";
}

.icomoon-icon-chemical:before {
	content: "\e05c";
}

.icomoon-icon-chemistry:before {
	content: "\e05d";
}

.icomoon-icon-cinema2:before {
	content: "\e05e";
}

.icomoon-icon-clock4:before {
	content: "\e060";
}

.icomoon-icon-clock5:before {
	content: "\e061";
}

.icomoon-icon-competition:before {
	content: "\e062";
}

.icomoon-icon-computer12:before {
	content: "\e063";
}

.icomoon-icon-correct2:before {
	content: "\e064";
}

.icomoon-icon-desktop:before {
	content: "\e068";
}

.icomoon-icon-dotplot:before {
	content: "\e06c";
}

.icomoon-icon-download4:before {
	content: "\e06d";
}

.icomoon-icon-download8:before {
	content: "\e06e";
}

.icomoon-icon-education:before {
	content: "\e076";
}

.icomoon-icon-fifteen:before {
	content: "\e079";
}

.icomoon-icon-file32:before {
	content: "\e07a";
}

.icomoon-icon-flag4:before {
	content: "\e07e";
}

.icomoon-icon-football1:before {
	content: "\e07f";
}

.icomoon-icon-glasses:before {
	content: "\e084";
}

.icomoon-icon-graph:before {
	content: "\e085";
}

.icomoon-icon-guitar:before {
	content: "\e086";
}

.icomoon-icon-hand:before {
	content: "\e087";
}

.icomoon-icon-insignia:before {
	content: "\e08f";
}

.icomoon-icon-mathematical:before {
	content: "\e09c";
}

.icomoon-icon-meeting:before {
	content: "\e09f";
}

.icomoon-icon-molecules1:before {
	content: "\e0a1";
}

.icomoon-icon-online:before {
	content: "\e0ac";
}

.icomoon-icon-physical:before {
	content: "\e0b6";
}

.icomoon-icon-physics:before {
	content: "\e0b7";
}

.icomoon-icon-picture5:before {
	content: "\e0b8";
}

.icomoon-icon-pie3:before {
	content: "\e0b9";
}

.icomoon-icon-placard:before {
	content: "\e0bb";
}

.icomoon-icon-play6:before {
	content: "\e0bd";
}

.icomoon-icon-play7:before {
	content: "\e0be";
}

.icomoon-icon-quarter:before {
	content: "\e0c2";
}

.icomoon-icon-research:before {
	content: "\e0c3";
}

.icomoon-icon-schedule:before {
	content: "\e0c6";
}

.icomoon-icon-school1:before {
	content: "\e0c7";
}

.icomoon-icon-school4:before {
	content: "\e0c8";
}

.icomoon-icon-science1:before {
	content: "\e0cc";
}

.icomoon-icon-science2:before {
	content: "\e0cd";
}

.icomoon-icon-science:before {
	content: "\e0ce";
}

.icomoon-icon-set1:before {
	content: "\e0cf";
}

.icomoon-icon-shake:before {
	content: "\e0d0";
}

.icomoon-icon-shelf:before {
	content: "\e0d1";
}

.icomoon-icon-shopping7:before {
	content: "\e0d2";
}

.icomoon-icon-small54:before {
	content: "\e0d5";
}

.icomoon-icon-smartphone2:before {
	content: "\e0d6";
}

.icomoon-icon-smartphone:before {
	content: "\e0d7";
}

.icomoon-icon-tablet2:before {
	content: "\e0dd";
}

.icomoon-icon-tactil1:before {
	content: "\e0de";
}

.icomoon-icon-talking:before {
	content: "\e0df";
}

.icomoon-icon-teacher:before {
	content: "\e0e0";
}

.icomoon-icon-teach:before {
	content: "\e0e1";
}

.icomoon-icon-telescope:before {
	content: "\e0e2";
}

.icomoon-icon-time2:before {
	content: "\e0e5";
}

.icomoon-icon-university2:before {
	content: "\e0e8";
}

.icomoon-icon-university:before {
	content: "\e0e9";
}

.icomoon-icon-wall3:before {
	content: "\e0ee";
}

.icomoon-icon-window8:before {
	content: "\e0f1";
}

.icomoon-icon-working1:before {
	content: "\e0f3";
}

.icomoon-icon-2440:before {
	content: "\e16e";
}

.icomoon-icon-air6:before {
	content: "\e171";
}

.icomoon-icon-airplane68:before {
	content: "\e174";
}

.icomoon-icon-black331:before {
	content: "\e177";
}

.icomoon-icon-call36:before {
	content: "\e17c";
}

.icomoon-icon-call37:before {
	content: "\e17d";
}

.icomoon-icon-clipboard52:before {
	content: "\e17f";
}

.icomoon-icon-delivery21:before {
	content: "\e18c";
}

.icomoon-icon-delivery23:before {
	content: "\e18e";
}

.icomoon-icon-delivery25:before {
	content: "\e190";
}

.icomoon-icon-delivery26:before {
	content: "\e191";
}

.icomoon-icon-delivery29:before {
	content: "\e194";
}

.icomoon-icon-delivery30:before {
	content: "\e195";
}

.icomoon-icon-delivery39:before {
	content: "\e19e";
}

.icomoon-icon-international11:before {
	content: "\e1a3";
}

.icomoon-icon-international12:before {
	content: "\e1a4";
}

.icomoon-icon-international14:before {
	content: "\e1a6";
}

.icomoon-icon-logistics2:before {
	content: "\e1ab";
}

.icomoon-icon-logistics3:before {
	content: "\e1ac";
}

.icomoon-icon-logistics4:before {
	content: "\e1ad";
}

.icomoon-icon-ocean3:before {
	content: "\e1b1";
}

.icomoon-icon-package13:before {
	content: "\e1b5";
}

.icomoon-icon-phone322:before {
	content: "\e1bc";
}

.icomoon-icon-placeholder8:before {
	content: "\e1be";
}

.icomoon-icon-triangular42:before {
	content: "\e1c9";
}

.icomoon-icon-verification5:before {
	content: "\e1cb";
}

.icomoon-icon-woman93:before {
	content: "\e1cf";
}

.icomoon-icon-shopping109:before {
	content: "\e1d2";
}

.icomoon-icon-shopping110:before {
	content: "\e1d3";
}

.icomoon-icon-shopping111:before {
	content: "\e1d4";
}

.icomoon-icon-shopping113:before {
	content: "\e1d5";
}

.icomoon-icon-shopping114:before {
	content: "\e1d6";
}

.icomoon-icon-finger2:before {
	content: "\e1e7";
}

.icomoon-icon-finger5:before {
	content: "\e1e9";
}

.icomoon-icon-finger:before {
	content: "\e1ed";
}

.icomoon-icon-hand8:before {
	content: "\e1f5";
}

.icomoon-icon-mobiletuxedo2:before {
	content: "\e1f8";
}

.icomoon-icon-ring2:before {
	content: "\e1fc";
}

.icomoon-icon-two33:before {
	content: "\e201";
}

.icomoon-icon-collapse3:before {
	content: "\e000";
}

.icomoon-icon-down44:before {
	content: "\e001";
}

.icomoon-icon-down45:before {
	content: "\e002";
}

.icomoon-icon-expand22:before {
	content: "\e003";
}

.icomoon-icon-left126:before {
	content: "\e004";
}

.icomoon-icon-left127:before {
	content: "\e005";
}

.icomoon-icon-left128:before {
	content: "\e006";
}

.icomoon-icon-left129:before {
	content: "\e007";
}

.icomoon-icon-next15:before {
	content: "\e008";
}

.icomoon-icon-previous11:before {
	content: "\e009";
}

.icomoon-icon-right103:before {
	content: "\e00a";
}

.icomoon-icon-right104:before {
	content: "\e00b";
}

.icomoon-icon-right105:before {
	content: "\e00c";
}

.icomoon-icon-right106:before {
	content: "\e00d";
}

.icomoon-icon-right107:before {
	content: "\e00e";
}

.icomoon-icon-thin35:before {
	content: "\e00f";
}

.icomoon-icon-thin36:before {
	content: "\e010";
}

.icomoon-icon-up76:before {
	content: "\e011";
}

.icomoon-icon-up77:before {
	content: "\e012";
}

.icomoon-icon-up78:before {
	content: "\e013";
}

.icomoon-icon-fa-credit-card:before {
	content: "\f09d";
}

.icomoon-icon-fa-money:before {
	content: "\f0d6";
}

.icomoon-icon-uniF1B4:before {
	content: "\f1b4";
}

.icomoon-icon-uniF1B5:before {
	content: "\f1b5";
}

.icomoon-icon-fa-paypal:before {
	content: "\f1ed";
}

.icomoon-icon-fa-google-wallet:before {
	content: "\f1ee";
}

.icomoon-icon-fa-cc-visa:before {
	content: "\f1f0";
}

.icomoon-icon-fa-cc-mastercard:before {
	content: "\f1f1";
}

.icomoon-icon-fa-cc-discover:before {
	content: "\f1f2";
}

.icomoon-icon-fa-cc-amex:before {
	content: "\f1f3";
}

.icomoon-icon-fa-cc-paypal:before {
	content: "\f1f4";
}

.icomoon-icon-fa-cc-stripe:before {
	content: "\f1f5";
}

